// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

h1{
	color:white;
	text-align:center;
	background-color:grey;
	opacity:.3;
	
	
}