<!DOCTYPE html>
<html>
<head>
  <title>Salamon Family Beer Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
 <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      
      </div>
      <div class="collapse navbar-collapse">
      
      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </div><!-- /.navbar -->

<div class="container">
    <!-- Example row of columns -->
  <div class="row">
    <div class ="col-md-4">
    	<img src="/assets/sculpin.png">

        <h2>About This Site</h2>
        <p>Poke around and find out what the experts think about your favorite beers. Take a sip and give your own expert opinion! </p>
        <hip><a class="btn btn-default" href="../about" role="button">View More instructions&raquo;</a></p>
  
    </div>
    <div class="col-md-8">
      <%=yield%>
    </div>
  </div>
</div>     


</body>
</html>
